@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f5f5f5 !important;
}
.logos link {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

